<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Decrypted Image</title>
</head>

<body>
    <div class="container">
        <h1>Decrypted Original Image</h1>
        <div id="decrypted-image">
            <img src="{{ decrypted_image }}" alt="Decrypted Original Image">
        </div>
    </div>
</body>

</html>