<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            color: #ffffff;
        }

        h1 {
            margin-top: 50px;
        }

        p {
            color: #ff0000;
        
        }
    </style>
    <title>Decryption Error!</title>

</head>

<body>
    <div class="container">
        <h1>Error</h1>
        <p>{{ error_message }}</p>
    </div>
</body>

</html>